<!doctype html>

<head>

    <!--====== Required meta tags ======-->
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!--====== Title ======-->
    <title>M-PRO</title>

    <!--====== Favicon Icon ======-->
    <link rel="shortcut icon" href="/images/pngMPRO.png" type="image/png">

    <!--====== Bootstrap css ======-->
    <link rel="stylesheet" href="/css/bootstrap.min.css">

    <!--====== Fontawesome css ======-->
    <link rel="stylesheet" href="/css/fontawesomepro.min.css">

    <!--====== Magnific Popup css ======-->
    <link rel="stylesheet" href="/css/magnific-popup.css">

    <!--====== animate css ======-->
    <link rel="stylesheet" href="/css/animate.min.css">

    <!--====== Slick css ======-->
    <link rel="stylesheet" href="/css/slick.css">

    <!--====== Default css ======-->
    <link rel="stylesheet" href="/css/default.css">

    <!--====== Style css ======-->
    <link rel="stylesheet" href="/css/style.css">


</head>

<body class="bg-white">

    <!-- LOADER -->
    <div class="preloader">
        <div class="precontainer">
            <div class="📦"></div>
            <div class="📦"></div>
            <div class="📦"></div>
            <div class="📦"></div>
            <div class="📦"></div>
        </div>
    </div>
    <!-- END LOADER -->

    <!--====== HEADER PART START ======-->

    <header id="home" class="header-area header-9-area">
        <div class="header-nav">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="navigation">
                            <nav class="navbar navbar-expand-lg navbar-light ">

                                <a class="navbar-brand" href=""><img src="/images/pngMPRO.png" alt=""></a>
                                <!-- logo -->

                                <button class="navbar-toggler" type="button" data-toggle="collapse"
                                    data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                                    aria-expanded="false" aria-label="Toggle navigation">
                                    <span class="toggler-icon"></span>
                                    <span class="toggler-icon"></span>
                                    <span class="toggler-icon"></span>
                                </button> <!-- navbar toggler -->

                                <div class="collapse navbar-collapse sub-menu-bar" id="navbarSupportedContent">
                                    <ul class="navbar-nav ml-auto">
                                        <li class="nav-item active">
                                            <a class="nav-link" href="#home">
                                                <%= i18n.__('navHome') %>
                                            </a>
                                        </li>
                                        <li class="nav-item">
                                            <a class="nav-link" href="#team">
                                                <%= i18n.__('navTeam') %>
                                            </a>
                                        </li>
                                        <li class="nav-item">
                                            <a class="nav-link" href="#service">
                                                <%= i18n.__('navService') %>
                                            </a>
                                        </li>
                                        <li class="nav-item">
                                            <a class="nav-link" href="#brand">
                                                <%= i18n.__('navClient') %>
                                            </a>
                                        </li>

                                    </ul>
                                    <ul class="navbar-nav ml-auto">
                                        <li class="nav-item">
                                            <div class="nav-link">
                                                <!-- Language toggle link -->
                                                <a href="#"
                                                    onclick="changeLanguage('<%= i18n.getLocale() === 'en' ? 'vn' : 'en' %>'); return false;">
                                                    <% if (i18n.getLocale()==='vn' ) { %>
                                                        <img class="flag" src="images/uk.svg" alt="UK Flag"
                                                            data-toggle="tooltip" data-placement="bottom"
                                                            title="English" />
                                                        <% } else if (i18n.getLocale()==='en' ) { %>
                                                            <img class="flag" src="images/vietnam.svg"
                                                                alt="Vietnam Flag" data-toggle="tooltip"
                                                                data-placement="bottom" title="Vietnamese" />
                                                            <% } %>
                                                </a>


                                            </div>
                                        </li>
                                    </ul>
                                </div> <!-- navbar collapse -->
                            </nav>
                        </div> <!-- navigation -->
                    </div>
                </div> <!-- row -->
            </div>
        </div>
    </header>

    <!--====== HEADER PART ENDS ======-->

    <!--====== HERO PART START ======-->

    <section class="hero-9-area">
        <div class="section__bg"></div>
        <div class="container">
            <div class="row">
                <div class="col-lg-6">
                    <div class="hero-9-content">
                        <h3 class="title">
                            <%= i18n.__('heroTitle') %>
                        </h3>
                        <span>
                            <%= i18n.__('heroSpan') %>
                        </span>
                        <a class="main-btn"
                            href="https://drive.google.com/file/d/1bLnFBtgFMFXOmtOvXCmwZw7GPWFlwroe/view?usp=drive_link">
                            <%= i18n.__('heroButton') %>
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <div class="hero-thumb">
            <img src="/images/hero-thumb-9.png" alt="hero">
        </div>
    </section>

    <!--====== HERO PART ENDS ======-->

    <!--====== OVERVIEW PART START ======-->

    <section id="team" class="overview-area overview-7-area  mt-100">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-lg-12 col-md-9">
                    <div class="section-title-9 text-center">
                        <h3 class="title">
                            <%= i18n.__('overTitle') %>
                        </h3>
                        <div class="text">
                            <p>
                                <%= i18n.__('overText') %>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-3 col-md-6 col-sm-6">
                    <div class="overview-counter-item mt-30 animated wow fadeInUp" data-wow-duration="1000ms"
                        data-wow-delay="0ms">
                        <div class="icon">
                            <img class="fal fa-users fa-5x" style="color: #ee4794; line-height: 110%" src="" alt="">
                        </div>
                        <h3 class="title"><span class="count">
                                <%= i18n.__('exNum') %>
                            </span>+</h3>
                        <span>
                            <%= i18n.__('exTitle') %>
                        </span>

                    </div>
                </div>
                <div class="col-lg-3 col-md-6 col-sm-6">
                    <div class="overview-counter-item mt-30 animated wow fadeInUp" data-wow-duration="1000ms"
                        data-wow-delay="300ms">
                        <div class="icon">
                            <img class="fal fa-user-headset fa-5x" style="color: #ee4794; line-height: 110%" src=""
                                alt="">
                        </div>

                        <h3 class="title"><span class="count">
                                <%= i18n.__('proNum') %>
                            </span>+</h3>
                        <span>
                            <%= i18n.__('proTitle') %>
                        </span>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 col-sm-6">
                    <div class="overview-counter-item mt-30 animated wow fadeInUp" data-wow-duration="1000ms"
                        data-wow-delay="600ms">
                        <div class="icon">
                            <img class="fal fa-project-diagram fa-5x" style="color: #ee4794; line-height: 110%" src=""
                                alt="">
                        </div>
                        <h3 class="title count">
                            <%= i18n.__('awardNum') %>
                        </h3>
                        <span>
                            <%= i18n.__('awardTitle') %>
                        </span>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 col-sm-6">
                    <div class="overview-counter-item mt-30 animated wow fadeInUp" data-wow-duration="1000ms"
                        data-wow-delay="900ms">
                        <div class="icon">
                            <img class="fal fa-user-clock fa-5x" style="color: #ee4794; line-height: 110%" src=""
                                alt="">
                        </div>
                        <h3 class="title"><span class="count">
                                <%= i18n.__('socialNum') %>
                            </span></h3>
                        <span>
                            <%= i18n.__('socialTitle') %>
                        </span>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!--====== OVERVIEW PART ENDS ======-->

    <!--====== SERVICE PART START ======-->

    <section id="service" class="service-9-area pb-100 mt-100">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-lg-14 col-md-9">
                    <div class="section-title-9 text-center">
                        <h3 class="title">
                            <%= i18n.__('serviceTitle') %>
                        </h3>
                        <div class="text">
                            <p>
                                <%= i18n.__('serviceText') %>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row justify-content-center">
                <div class="col-lg-4 col-md-6 col-sm-8">
                    <div class="service-item  service-9-item mt-30 animated wow fadeInLeft" data-wow-duration="1000ms"
                        data-wow-delay="0ms">
                        <div class="icon">
                            <img class="fal fa-glass-cheers fa-2x" style="color: #45108a; line-height: 110%" src=""
                                alt="">
                        </div>
                        <h3 class="title">
                            <%= i18n.__('s1Title') %>
                        </h3>
                        <p>
                            <%= i18n.__('s1Text') %>
                        </p>

                        <div class="service-dot">
                            <img src="/images/service-dot.png" alt="">
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 col-sm-8">
                    <div class="service-item  service-9-item mt-30 animated wow fadeInUp" data-wow-duration="1000ms"
                        data-wow-delay="300ms">
                        <div class="icon">
                            <img class="fal fa-poll fa-2x" style="color: #45108a; line-height: 110%" src="" alt="">
                        </div>
                        <h3 class="title">
                            <%= i18n.__('s2Title') %>
                        </h3>
                        <p>
                            <%= i18n.__('s2Text') %>
                        </p>

                        <div class="service-dot">
                            <img src="/images/service-dot.png" alt="">
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 col-sm-8">
                    <div class="service-item item-3 service-9-item mt-30 animated wow fadeInRight"
                        data-wow-duration="1000ms" data-wow-delay="600ms">
                        <div class="icon">
                            <img class="fal fa-desktop fa-2x" style="color: #45108a; line-height: 110%" src="" alt="">
                        </div>
                        <h3 class="title">
                            <%= i18n.__('s3Title') %>
                        </h3>
                        <p>
                            <%= i18n.__('s3Text') %>
                        </p>

                        <div class="service-dot">
                            <img src="/images/service-dot.png" alt="">
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 col-sm-8">
                    <div class="service-item item-3 service-9-item mt-30 animated wow fadeInLeft"
                        data-wow-duration="1000ms" data-wow-delay="600ms">
                        <div class="icon">
                            <img class="fal fa-gift fa-2x" style="color: #45108a; line-height: 110%" src="" alt="">
                        </div>
                        <h3 class="title">
                            <%= i18n.__('s4Title') %>
                        </h3>
                        <p>
                            <%= i18n.__('s4Text') %>
                        </p>
                        <div class="service-dot">
                            <img src="/images/service-dot.png" alt="">
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 col-sm-8">
                    <div class="service-item item-3 service-9-item mt-30 animated wow fadeInUp"
                        data-wow-duration="1000ms" data-wow-delay="600ms">
                        <div class="icon">
                            <img class="fal fa-cog fa-2x" style="color: #45108a; line-height: 110%" src="" alt="">
                        </div>
                        <h3 class="title">
                            <%= i18n.__('s5Title') %>
                        </h3>
                        <p>
                            <%= i18n.__('s5Text') %>
                        </p>

                        <div class="service-dot">
                            <img src="/images/service-dot.png" alt="">
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 col-sm-8">
                    <div class="service-item item-3 service-9-item mt-30 animated wow fadeInRight"
                        data-wow-duration="1000ms" data-wow-delay="600ms">
                        <div class="icon">
                            <img class="fal fa-copyright fa-2x" style="color: #45108a; line-height: 110%" src="" alt="">
                        </div>
                        <h3 class="title">
                            <%= i18n.__('s6Title') %>
                        </h3>
                        <p>
                            <%= i18n.__('s6Text') %>
                        </p>

                        <div class="service-dot">
                            <img src="/images/service-dot.png" alt="">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!--====== SERVICE PART ENDS ======-->


    <!--====== PROJECT PART START ======-->

    <section id="portfolio-scroll" class="portfolio-style-1-area pt-70 pb-100">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-lg-6">
                    <div class="project-title text-center">
                        <h3 class="title">Our Project</h3>
                        <p>I help agencies & brands like Google, Volvo and others to turn their ideas into designs.</p>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-lg-6">
                    <div class="project-5-item mt-30">
                        <img src="assets/images/project/project-1.png" alt="">
                        <div class="project-overlay">
                            <h3 class="title">Digital Product Design</h3>
                            <span>Artist, Illustration</span>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6">
                    <div class="project-5-item mt-30">
                        <img src="assets/images/project/project-2.png" alt="">
                        <div class="project-overlay">
                            <h3 class="title">Digital Product</h3>
                            <span>Artist, Illustration</span>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6">
                    <div class="project-5-item mt-30">
                        <img src="assets/images/project/project-3.png" alt="">
                        <div class="project-overlay">
                            <h3 class="title">Digital Product </h3>
                            <span>Artist, Illustration</span>
                        </div>
                    </div>
                    <div class="project-5-item mt-30">
                        <img src="assets/images/project/project-4.png" alt="">
                        <div class="project-overlay">
                            <h3 class="title">Digital Product </h3>
                            <span>Artist, Illustration</span>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="project-5-item mt-30">
                        <img src="assets/images/project/project-5.png" alt="">
                        <div class="project-overlay">
                            <h3 class="title">Digital Product Design</h3>
                            <span>Artist, Illustration</span>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-6 col-md-6">
                            <div class="project-5-item mt-30">
                                <img src="assets/images/project/project-6.png" alt="">
                                <div class="project-overlay">
                                    <h3 class="title">Digital Product</h3>
                                    <span>Artist, Illustration</span>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-6 col-md-6">
                            <div class="project-5-item mt-30">
                                <img src="assets/images/project/project-7.png" alt="">
                                <div class="project-overlay">
                                    <h3 class="title">Digital Product </h3>
                                    <span>Artist, Illustration</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="project-5-item mt-30">
                        <img src="assets/images/project/project-8.png" alt="">
                        <div class="project-overlay">
                            <h3 class="title">Digital Product Design</h3>
                            <span>Artist, Illustration</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!--====== PROJECT PART ENDS ======-->


    <!--====== BRAND 3 PART START ======-->

    <section id="brand" class="brand-3-area mt-100">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-lg-12 col-md-9">
                    <div class="section-title-9 text-center">
                        <h3 class="title">
                            <%= i18n.__('brandTitle') %>
                        </h3>
                        <div class="text">
                            <p>
                                <%= i18n.__('brandText') %>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row justify-content-center mt-50">
                <div class="col-lg-12">
                    <div class="brand-3-items d-flex justify-content-between brand-slider" id="brandSlider">
                        <!-- The brand items will be generated here -->
                    </div>
                </div>
            </div>
        </div>
    </section>



    <!--====== PORTFOLIO STYLE 1 PART START ======-->
    
    <div id="portfolio-scroll" class="portfolio-style-1-area pt-70 pb-100">
        <div class="container">
            <div class="row">
                <div class="col-lg-6">
                    <div class="project-5-item mt-30">
                        <img src="assets/images/project/project-1.png" alt="">
                        <div class="project-overlay">
                            <h3 class="title">Digital Product Design</h3>
                            <span>Artist, Illustration</span>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6">
                    <div class="project-5-item mt-30">
                        <img src="assets/images/project/project-2.png" alt="">
                        <div class="project-overlay">
                            <h3 class="title">Digital Product</h3>
                            <span>Artist, Illustration</span>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6">
                    <div class="project-5-item mt-30">
                        <img src="assets/images/project/project-3.png" alt="">
                        <div class="project-overlay">
                            <h3 class="title">Digital Product </h3>
                            <span>Artist, Illustration</span>
                        </div>
                    </div>
                    <div class="project-5-item mt-30">
                        <img src="assets/images/project/project-4.png" alt="">
                        <div class="project-overlay">
                            <h3 class="title">Digital Product </h3>
                            <span>Artist, Illustration</span>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="project-5-item mt-30">
                        <img src="assets/images/project/project-5.png" alt="">
                        <div class="project-overlay">
                            <h3 class="title">Digital Product Design</h3>
                            <span>Artist, Illustration</span>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-6 col-md-6">
                            <div class="project-5-item mt-30">
                                <img src="assets/images/project/project-6.png" alt="">
                        <div class="project-overlay">
                            <h3 class="title">Digital Product</h3>
                            <span>Artist, Illustration</span>
                        </div>
                            </div>
                        </div>
                        <div class="col-lg-6 col-md-6">
                            <div class="project-5-item mt-30">
                                <img src="assets/images/project/project-7.png" alt="">
                        <div class="project-overlay">
                            <h3 class="title">Digital Product </h3>
                            <span>Artist, Illustration</span>
                        </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="project-5-item mt-30">
                        <img src="assets/images/project/project-8.png" alt="">
                        <div class="project-overlay">
                            <h3 class="title">Digital Product Design</h3>
                            <span>Artist, Illustration</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
    <!--====== PORTFOLIO STYLE 1 PART ENDS ======-->


    <!--====== BRAND 3 PART ENDS ======-->


    <section id="brand" class="brand-3-area">
        <div class="container">
            <div class="row justify-content-center">

            </div>
        </div>
    </section>


    <!--====== FOOTER PART START ======-->

    <footer class="footer-area">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="footer-top footer-top-9 d-block d-sm-flex  justify-content-between align-items-center">
                        <div class="footer-logo">
                            <a href="#"><img src="/images/pngMPRO.png" alt=""></a>
                        </div>
                        <!-- <div class="footer-social">
                            <ul>
                                <li><a href="#"><i class="fab fa-facebook-f"></i></a></li>
                                <li><a href="#"><i class="fab fa-twitter"></i></a></li>
                                <li><a href="#"><i class="fab fa-youtube"></i></a></li>
                                <li><a href="#"><i class="fab fa-instagram"></i></a></li>
                            </ul>
                        </div> -->
                    </div>
                </div>
            </div>
            <div class="footer-item">
                <div class="row">
                    <div class="col-lg-7 col-md-6">
                        <div class="footer-about mt-30">
                            <h4 class="title">
                                <%= i18n.__('footerTitle') %>
                            </h4>
                            <p>
                                <%= i18n.__('footerText') %>
                            </p>
                        </div>
                    </div>

                    <div class="col-lg-4 col-md-6">
                        <div class="footer-info footer-info-9 mt-30">
                            <h3 class="title">
                                <%= i18n.__('footerCategoryTitle') %>
                            </h3>
                            <ul>
                                <li><i class="fal fa-map-marker-alt"></i>
                                    <%= i18n.__('footerAddress') %>
                                </li>
                                <li><i class="fal fa-phone"></i>
                                    <%= i18n.__('footerPhone') %>
                                </li>
                                <li><i class="fal fa-envelope"></i>
                                    <%= i18n.__('footerMail') %>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <div class="footer-copyright">
                        <p>
                            <%= i18n.__('credits') %>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </footer>

    <!--====== FOOTER PART ENDS ======-->

    <!--====== BACK TO TOP START ======-->

    <a class="back-to-top back-to-top-11">
        <i class="fal fa-angle-up"></i>
    </a>

    <!--====== BACK TO TOP ENDS ======-->

    <!--====== jquery js ======-->
    <script src="/js/vendor/modernizr-3.6.0.min.js"></script>
    <script src="/js/vendor/jquery-1.12.4.min.js"></script>

    <!--====== Bootstrap js ======-->
    <script src="/js/popper.min.js"></script>
    <script src="/js/bootstrap.min.js"></script>


    <!--====== Font-Awesome js ======-->
    <script scr="/js/vendor/fontawesomepro.min.js"></script>

    <!--====== appear js ======-->
    <script src="/js/jquery.appear.min.js"></script>

    <!--====== Slick js ======-->
    <script src="/js/slick.min.js"></script>

    <!--====== wow js ======-->
    <script src="/js/wow.js"></script>

    <!--====== Isotope js ======-->
    <script src="/js/isotope.pkgd.min.js"></script>

    <!--====== Images Loaded js ======-->
    <script src="/js/imagesloaded.pkgd.min.js"></script>

    <!--====== Magnific Popup js ======-->
    <script src="/js/jquery.magnific-popup.min.js"></script>

    <!--====== Main js ======-->
    <script src="/js/main.js"></script>

</body>

</html>